fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic-settings
alembic
ultralytics
python-dotenv
birdnetlib
librosa
tensorflow
resampy
